* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
	color: #fff;
}

.container {
	width: 100%;
	height: 100vh;
	background: url(blurry-gradient-haikei.svg) no-repeat;
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;
}

.box {
	width: 400px;
	border: 4px solid rgba(16, 0, 0, 0.65);
	box-shadow: 2px 2px 5px #89c9f3, -2px 2px 5px #89c9f3;
	border-radius: 8px;
	backdrop-filter: blur(8px);
	padding: 20px 40px;
}

.signup-header {
	font-size: 2.2rem;
	text-align: center;
	padding: 5px 8px;
}
.signup-header h1 {
	color: rgb(0, 0, 0);
}

.signup-main div {
	margin-top: 20px;
	position: relative;
}
.signup-main div label {
	font-size: 18px;
	font-weight: 600;
	cursor: pointer;
}
.signup-main div input {
	width: 100%;
	padding: 10px;
	border-radius: 4px;
	font-size: 18px;
	margin-block: 4px;
	border: none;
	outline: none;
	color: #000;
}

.name-ip span {
	font-size: 18px;
	color: #90ee90;
	font-weight: 600;
}

.email-ip span {
	font-size: 18px;
	color: #90ee90;
	font-weight: 600;
}
.pass-ip span {
	font-size: 18px;
	color: #90ee90;
	font-weight: 600;
}

.submit input[type="submit"] {
	border: none;
	background-color: #09273a;
	color: #fff;
	font-size: 20px;
	font-weight: 700;
	cursor: pointer;
}

.submit input[type="submit"]:hover {
	background-color: #113d58;
}

.signup-footer div {
	text-align: center;
	font-weight: 600;
	height: 100px;
	margin: 10px 0;
}
.signup-footer div a {
	text-decoration: none;
}
.signup-footer div a:hover {
	text-decoration: underline;
}
